/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #ARTICLE
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */

body {
  font-size: 87.5%; /* 14 px */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: rgba (0, 0, 0, 0.8);
}

/* HEADINGS 
  Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

h1 {
  font-size: 3em;
  line-height: 1.4;
font-family: loretta-display, serif;
font-weight: 200;
font-style: normal;
}

.h1-sub {
      font-size: 4em;
  line-height: 1.1;
font-family: loretta-display, serif;
font-weight: 500;
font-style: normal;
color: rgba(38, 38, 38, 0.894);
}

.h1-sub-monkseal {
      font-size: 3em;
  line-height: 1.4;
font-family: loretta-display, serif;
font-weight: 500;
font-style: normal;
}


h2 {
  font-size: 2em;
  line-height: 1.1;
  font-family: loretta-display-variable, sans-serif;
 font-variation-settings: "wght" 400;
 font-style: italic;
}

.h2-sub {
  font-size: 2.3em;
  line-height: 1.1;
 font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
 color: rgba(31, 44, 32, 0.8);
}

.h2-sub-wa {
  font-size: 2.3em;
  line-height: 1.1;
 font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
 color:  rgba(30, 40, 79, 0.8);
}

.h2-sub-cm {
      font-size: 2.3em;
  line-height: 1.1;
 font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
 color: rgba(219, 0, 106, 0.8);  
}

.h2-sub-plantoem {
      font-size: 2.3em;
  line-height: 1.1;
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
color: rgba(11, 48, 32, 0.915);  
}

.h2-sub-typography {
      font-size: 2.3em;
  line-height: 1.1;
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
color: rgba(255, 134, 82, 0.915);  
}

h3 {
  font-size: 1.3em;
  line-height: 1.2;
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
 color: rgba(198, 96, 0, 0.8);
}

.h3-sub-wa {
  font-size: 1.3em;
  line-height: 1.2;
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
 color: rgba(76, 87, 177, 0.8);
}

.h3-sub-plantoem {
    font-size: 1.3em;
  line-height: 1.2;
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
 color: rgb(219, 159, 47);
}

.h3-cm {
      font-size: 1.3em;
  line-height: 1.2;
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
color: rgba(245, 64, 139, 0.8); 
}

h4 {
   
  font-size: 1.3125em;
  line-height: 1.3;
     font-family: loretta-display-variable, sans-serif;
 font-variation-settings: "wght" 500;
 font-style: italic;
 color: rgba(39, 39, 39, 0.7);

}
h5 {
  font-size: 1.125em;
  line-height: 1.4;
}

h6 {
     font-family: lulo-one, sans-serif;
font-weight: 700;
font-style: normal;
  font-size: .8em;
  line-height: 1.5;
  color: rgba(31, 44, 32, 0.8);
}

.h6-wa {
     font-family: lulo-one, sans-serif;
font-weight: 700;
font-style: normal;
  font-size: .8em;
  line-height: 1.5;
  color: rgba(30, 40, 79, 0.8);
}

.h6-cm {
       font-family: lulo-one, sans-serif;
font-weight: 700;
font-style: normal;
  font-size: .8em;
  line-height: 1.5;
  color: rgba(75, 3, 58, 0.8);  
}

.h6-plantoem {
       font-family: lulo-one, sans-serif;
font-weight: 700;
font-style: normal;
  font-size: .8em;
  line-height: 1.5;
  color: rgba(11, 48, 32, 0.915);  
}

.h6-typography {
       font-family: lulo-one, sans-serif;
font-weight: 700;
font-style: normal;
  font-size: .8em;
  line-height: 1.5;
  color: rgb(255, 152, 33);  
}

/* PARAGRAPHS */

p {
  margin: 0.5em 0;
  max-width: 38em;
  font-size: 1.1em;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 400;
font-style: normal;
}

.p-sub {
  margin: 0.5em 0;
  max-width: 38em;
  font-size: 1em;
  font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 400;
font-style: normal;
}

.p-subemp {
  margin: 0.5em 0;
  max-width: 38em;
  font-size: 1em;
  font-family: indivisible, sans-serif;
font-weight: 400;
font-style: normal;
}

/* LINKS */

a {
  color: rgba(0, 0, 153, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 153, 1);
  text-decoration: underline;
}

/* ARTICLE */

article {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}

article h1,
article h1 + .subhead,
article .date {
  text-align: center;
}

article h2.subhead {
  font-size: 1.5em;
  line-height: 1.25;
}

article .subhead {
  font-weight: normal;
  opacity: 0.7;
}

article .date {
  font-size: 0.75em;
  opacity: 0.5;
  margin-bottom: 3em;
}

article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
  margin-top: 1.5em;
}

/* article p:first-of-type {
  font-size: 1.4em;
  line-height: 1.3em;
} */


/* HELPER CLASSES */
.text-centered {
  text-align: center;
}

.full-width {
  max-width: none;
  width: 100%;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* BUTTONS */
.button,
button,
form input[type="submit"] {
  font-size: .6em;
  line-height: 1;
  background-color: rgba(31, 44, 32, 0.8);
  color: rgba(255, 255, 255, 1);
  padding: 1.25em;
  display: inline-block;
  margin: 2em 0.5em 0.5em 0;
  text-align: center;
  border-radius: 0.5em;
font-family: lulo-one, sans-serif;
font-weight: 400;
font-style: normal;
}

.button-wa {
      font-size: .6em;
  line-height: 1;
  background-color:  rgba(30, 40, 79, 0.8);
  color: rgba(255, 255, 255, 1);
  padding: 1.25em;
  display: inline-block;
  margin: 2em 0.5em 0.5em 0;
  text-align: center;
  border-radius: 0.5em;
font-family: lulo-one, sans-serif;
font-weight: 400;
font-style: normal;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
  background-color: rgba(31, 44, 32);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.button-wa:hover {
      background-color:  rgba(7, 15, 50, 0.897);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/* LAYOUT */

/* SIMPLE RESET */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 4%;
}

.container-finalimages {
  max-width: 55%;
  margin: 0 auto;
  padding: 0 4%;
}

.container-finaltypography {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 4%;
}

.container-illustrations {
  max-width: 55%;
  margin: 0 auto;
  padding: 0 4%;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  /* TABLET SIZED SIZING HERE */
}

@media (min-width: 1050px) {
  body {
    font-size: 100%; /* 16 px */
  }
}

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; /* 18 px */
  }
  .container {
    max-width: 80%;
  }
}

/* FOR DEMO ONLY */

body.demo {
  padding-top: 2em;
}

body.demo::before {
  content: "Small Screen (Mobile) Less Than 768px";
  background-color: #993333;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  color: white;
  padding: 0.5em;
}

@media (min-width: 768px) {
  body.demo::before {
    background-color: #bcb83d;
    content: "Midsize (Tablet) Screen Less Than 768px - 1050px";
  }
}

@media (min-width: 1050px) {
  body.demo::before {
    background-color: #693;
    content: "Large (Notebook) Screen Less Than 1050px - 1250px";
  }
}

@media (min-width: 1250px) {
  body.demo::before {
    background-color: orange;
    content: "XLarge (Desktop) Screen Less Than 1250px +";
  }
}

/* GRID SYSTEM */

.row > .column {
  margin-bottom: 4%;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: space-between;
    margin-left: -2%;
    margin-right: -2%;
  }

  .row > .column {
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
  }

  .row > .column.one-half {
    max-width: 46%;
  }

  .row > .column.one-third {
    max-width: 29.3333%;
  }

  .row > .column.two-thirds {
    max-width: 62.6666%;
  }

  .row > .column.one-fifth {
    max-width: 16%;
  }

  .row > .column.image.centered {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
  }

   .row > .column.typography.centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.row.centered {
        justify-content: center;
    }

/* FOR DEMO ONLY */

.demo .column {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */


.site-header::after {
  content: "";
  display: block;
width: auto;
  margin: 0.5em auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
  .site-header .container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }
}

/* STYLING FOR BOTH HEADER AND FOOTER */

.site-id h1 img, .social-nav img {
    max-width: 100px;
}

.site-id h1 a {
font-family: the-seasons, sans-serif;
font-style: normal;
font-weight: 700;
}

.site-header a  {
  color: rgba(0, 0, 0, 0.8);
}

.site-footer a {
    color: white;
}

.site-footer {
     background-color: rgba(31, 44, 32, 0.8);
     padding: 2em;
}

.site-header a:hover,
.site-footer a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* .site-footer::before {
  content: "";
  display: block;
width: auto;
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
} */

/* LOGO AREA */
.site-id h1 {
  font-size: 1.1em;
  margin: 0;
  /* padding-top: 0.55em; */
  text-align: center;
  
}

/* SITE NAV */
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: .5em;
  font-family: lulo-one, sans-serif;
font-weight: 500;
font-style: normal;
}

.site-nav a {
  padding: 1em;
  display: block;
}

.site-nav .menu-button {
  display: none;
}

.ul-sub {
    padding: 0;
    list-style: none;
 font-size: .9em;
  font-family: indivisible, sans-serif;
font-weight: 400;
font-style: normal;
}

/* SITE MAIN */

/* SECTIONS */
section {
  padding: 4em 0;
}

#patagonia-quoteaccent {
    background-color: #b85f00;
    padding: 2.75em 0;
    color: white;
}

#plantoem-quoteaccent {
    background-color: rgba(37, 61, 51, 0.915);  
    padding: 2.75em 0;
    color: white;
}

#patagonia-quoteaccent h1 {
   max-width: 900px;
   text-align: center;
    font-size: 3em;
  line-height: 1.4;
font-family: loretta-display, serif;
font-weight: 400;
font-style: italic;
animation-name: animation-h1;
  animation-duration: 2s;
  margin-left: auto;
  margin-right: auto;
}

#plantoem-quoteaccent h1 {
   max-width: 900px;
   text-align: center;
    font-size: 3em;
  line-height: 1.4;
font-family: loretta-display, serif;
font-weight: 400;
font-style: italic;
animation-name: animation-h1;
  animation-duration: 2s;
   margin-left: auto;
  margin-right: auto;
}

.about-quote {
   max-width: 900px;
   text-align: center;
    font-size: 3em;
  line-height: 1.3;
font-family: loretta-display, serif;
font-weight: 400;
font-style: normal;
animation-name: animation-h1;
  animation-duration: 2s;
}

/* HERO */

.hero {
  padding: 6em 4%;
  text-align: left;
}

.hero h1,
.hero p {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* TOGGLE NAV */

@media (max-width: 767px) {
  .toggle-nav .site-id {
    position: absolute;
  }
  .toggle-nav .site-nav {
    text-align: right;
  }
  .toggle-nav .site-nav .menu-button {
    display: block;
    display: inline-block;
    cursor: pointer;
    padding: 0.3em 0.8em;
    margin-bottom: 0.8em;
    border: 1px solid black;
  }
  .toggle-nav .site-nav .menu-button::selection {
    background-color: rgba(255, 255, 255, 0);
  }
  .toggle-nav .site-nav ul {
    display: block;
    text-align: center;
  }
  .toggle-nav .site-nav a:hover {
    background-color: rgba(0, 0, 153, 1);
    color: white;
  }
  .toggle-nav[data-navstate="closed"] ul {
    height: 0;
    overflow: hidden;
  }
  .toggle-nav[data-navstate="open"] ul {
    height: auto;
    overflow: visible;
  }
}

/* NAVICON */

.toggle-nav .site-nav .menu-button.navicon {
  border: none;
  color: rgba(255, 255, 255, 0);
  padding: 0;
}

.toggle-nav .site-nav .menu-button.navicon::after {
  content: "\2630";
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
}

.toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
  content: "\2715";
}

/* FORMS */

form {
  max-width: 800px;
  margin: 1em auto;
   font-family: lulo-one, sans-serif;
font-weight: 500;
font-style: normal;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: .75em;
}

form input[type="text"],
form textarea {
  border: 1px solid #ccc;
  padding: 0.5em;
  color: #666;
}

form textarea {
  min-height: 10em;
  line-height: 1.5;
}

form label {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

form input[type="submit"] {
  width: auto;
  margin-top: 1.5em;
}

/* CUSTOM SITE CSS */

.section-title {
  text-align: center;
  margin-bottom: 3em;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  margin: 0.5em auto;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

span {
    font-family: loretta-display-variable, sans-serif;
        font-variation-settings: "wght" 300;
        font-style: italic;
}

.spantwo {
      margin: 0.5em 0;
  max-width: 38em;
  font-size: 1em;
  font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: italic;
}

.spanthree {
  font-family: indivisible, sans-serif;
font-weight: 400;
font-style: normal;
}

.p-about {
    font-size: 1em;
    padding: .5em 0;
    max-width: 400px;
}

.p-about-emp {
    font-size: 1em;
    padding: .5em 0;
    max-width: 400px;
    font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 500;
font-style: normal;
}

.p-about-green {
    font-size: 1em;
 font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 400;
font-style: normal;
color: rgba(31, 44, 32, 0.8);
}

.about-pic {
    width: 150px;
}

/* GRID */

img {
  width: 100%;
}


/* SECTION FOR INDEX GRID */

.work {
  text-align: center;
  padding: 2em 3%;
}

.work img:not(:last-child) {
  margin-bottom: .2em;
}

.work img {
  cursor: pointer;
  transition: opacity 400ms;
}

.work img:hover {
  opacity: 0.7;
}



/* ANIMATIONS */
header h1.title {
  animation: rise 300ms backwards ease-out;
}

header h2.second-title {
  animation: rise 400ms backwards ease-out;
}

.work img {
  animation: rise 400ms ease-out backwards;
  animation-play-state: paused;
  animation-delay: 300ms;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
}

/* MEDIA QUERIES */
/* Tablets */
@media screen and (min-width: 480px) {
  .work {
    padding: 1em 10% 10%;
  }
}

/* Small Screens, laptops */
@media screen and (min-width: 768px) {
  
  
  /*  SECTION */
  .work {
    columns: 2;
    column-gap: 1rem;
    padding: 2rem 10% 10%;
  }

  .outer-headings {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-headings {
    border: 0px solid #ddd;
    height: 1em;
    font-size: .8em;
    line-height: 1.2em;
    overflow: hidden;
}

.inner-headings span {
    position: relative;
    color: crimson;
    animation: animation 10s
    ease infinite;
}
}

/* Desktop, large screens */
@media screen and (min-width: 1024px) {

  
  /*  SECTION */
  .work {
    columns: 2;
    column-gap: .5em;
    padding: 2rem 10% 10%;
  }
}


body {
  background-color: rgba(222, 220, 194, 0.292);
}

.page-projectdetail {
    background-color: white;
}



.wrapper{
    box-sizing: content-box;
    height: 6em;
    padding: 5em;
    display: flex;
}

.words {
    overflow: hidden;
}

.words-main {
    display: block;
    height: 100%;
    color: rgba(31, 44, 32, 0.8);
    animation: spin_words 8s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}



/* Vertical Media Query add height/paddint to ottom of contact section only for lg screens */

@media (min-height: 600px) {
  #contact {
    padding-bottom: 6em;
  }
}

/* SUBPAGES STYLING */


.hr_ {
    border-bottom: 1px solid #ccc;
}

.project-top {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    height: 90vh;
}





/* PATAGONIA HERO IMAGE */
.project-top-wrapper {
    position: absolute;
    z-index: -10;
    overflow: hidden;
    width: 60vh;
    max-width: auto;
    right: 8%;
    top: 40%;
    height: 90vh;
}

.patagonia-finallogo {
    max-width: 50%;
    height: auto;
display: flex;
  align-items: center;
}

/* HERO IMAGES */

#rose-project-top {
  right: 5%;
  top: 33%;
  bottom: 0;
  width: 100vh;
}

#monkseal-top {
  right: 5%;
  top: 63%;
  bottom: 0;
  width: 85vh;
}

#plantoem-top {
  right: 5%;
  top: 13%;
  bottom: 0;
  width: 85vh;
}

#pog-top {
  right: 5%;
  top: 40%;
  bottom: 0;
  width: 60vh;
}

.project-top h1,
.page-top h1 {
  font-size: clamp(3.5em, 7vw, 7em);
}

/* KEYFRAMES ANIMATION QUOTES */

@keyframes animation-h1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateY(-0.5em);
  }
}

/* MONK SEAL SITE MAP IMAGES */

html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }


/* SUB PAGE IMAGE FAN EFFECT */

